{% extends 'base.html' %}

{% block content %}

{% if error %}
<br>
<p style="color:red">{{error}}</p>
{% endif %}

<h1>Editing {{item.id}}: {{item.name}} </h1>
<hr>
<form method="POST" action="{% url 'changeitem' item.id %}"  enctype="multipart/form-data">
{% csrf_token %}

    Item Name:
    <br/>
    <input type="text" name="name" value="{{item.name}}"/>
    <br/>
    REF:
    <br/>
    <input type="text" name="referenceId" value="{{item.referenceId}}"/>
    <br/>
    Quantity:
    <br/>
    <input type="number" name="quantity" value="{{item.quantity}}"/>
    <br/>
    <br>
    Expiration Date:
    <br/>
    <input type="date" name="expdate" value="{{item.expdate|date:"Y-m-d"}}"/>
    <input class="btn btn-primary" type="submit" value="Save"/>
    

</form>

{% endblock %}