{% extends 'base.html' %}

{% block content %}

<!--This is the page for setting up the Item List and Request lists using for loops-->

<h1>ENT: Inventory List</h1>
<p class="lead text-center">Overview of items currently in stock</p>
{% if success %}
<p class="text-success">{{success}}</p>
{% endif %}
<hr>
<!--Headers for Inventory List-->
<div class="row">
  <table class="table table-striped col-12">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">RefID</th>
          <th scope="col">Quantity</th>
          <th scope="col">Earliest Exp Date</th>
        </tr>
      </thead>
      
      <!--for loop code for info within Item List-->
      {% for item in items.all %}
      <!--if statement for highlight low stock items-->
      {% if item.quantity <= item.parlevel%}
      <tbody>
        <tr class="table-danger">
          <th scope="row">{{item.name}}</th>
          <td>{{item.referenceId}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.expdate}}</td>
        </tr>
      </tbody>
      {% else %}
      <tbody>
        <tr>
          <th scope="row">{{item.name}}</th>
          <td>{{item.referenceId}}</td>
          <td >{{item.quantity}}</td>
          <td>{{item.expdate}}</td>
        </tr>
      </tbody>
      {% endif %}
      {% endfor %}
  </table>
</div>
<div class="col-12"><a href="{% url 'additem' %}" style="float:right"><button class="btn btn-danger btn-sm btn-block">Add Item</button></a></div>
<p class="text-danger">Warning: Please only use the add item feature if you know what you are doing! Contact Brent Woodin for more info.</p>
<br>
<h1>ENT: Requests</h1>
<p class="lead text-center">Recently posted inventory requests. If an entry is highlighted green, then the request has been ordered.</p>
<hr>
<!--Headers for Requests list-->
<div class="row">
  <table class="table table-striped col-12">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Item</th>
          <th scope="col">RefID</th>
          <th scope="col">Quantity</th>
          
          <th scope="col">Submited By:</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <!--for loop code for requests info in list-->
      {% for ritem in ritem.all %}
      {% if ritem.completed == True %}
      <tbody>
        <tr class="table-success">
          <th scope="row">{{ritem.formatDate}}</th>
          <td>{{ritem.namer}}</td>
          <td>{{ritem.referenceIdr}}</td>
          <td>{{ritem.quantityr}}</td>
          
          <td>{{ritem.account.username}}</td>
          <td>{{ritem.comment}}</td>
        </tr>
      </tbody>
      {% else %}
      <tbody>
        <tr>
          <th scope="row">{{ritem.formatDate}}</th>
          <td>{{ritem.namer}}</td>
          <td>{{ritem.referenceIdr}}</td>
          <td>{{ritem.quantityr}}</td>
          
          <td>{{ritem.account.username}}</td>
          <td>{{ritem.comment}}</td>
        </tr>
      </tbody>
      {% endif %}
      {% endfor %}
  </table>
</div>

  <div class="col-12"><a href="{% url 'management' %}" style="float:right"><button class="btn btn-primary btn-sm btn-block">Manage</button></a></div>
  <div class="col-11 me-3"><a href="{% url 'requestitem' %}" style="float:right"><button class="btn btn-primary btn-sm btn-block">Request Item</button></a></div>

{% endblock  %}