{% extends 'base.html' %}

{% block content %}

<h1>About IMA</h1>
<hr>

<div>
    <p class="lead">
        Inventory Management Application or IMA, is an automation solution for managing high traffic or critical supplies in the workspace.
        Built to be light-weight, easily-accessible, and user-friendly, so any persons needing a quick overview of supply or needs an item changed/ordered
        can easily do so hassle-free from anywhere on any device. Due to this nature of the application, IMA-site WILL NOT host any patient, personal/private,
        or other sensitive information. The site will actively be monitored in this regard. The idea for IMA came to fruition when a staff surgeon asked myself
        to generate a living spreadsheet of all consumable inventory within the service. As I began taking the steps neccasary to accomplish this task, it began
        to daunt on me how steep a task that sounds so simple was to maintain. Generating the actual spreadsheet was no issue to say the least. Keeping track of every single
        consumable, how much we have of it, when it will expire, and updating that on a near daily basis just isn't possible given the amount of time surge techs
        spend in and around the operating rooms. The scope of this project, IMA, is identical in nature. But once done, will automate the process of keeping track
        of these consumables with little to no effort. I will continue to maintain and develop IMA for as long as it is used, and may it serve future personel
        in managing inventory with ease. - Woodin, Brent
    </p>
</div>

{% endblock %}